/Data.p4k
/Data.p4k.part
/client.crt
/c_hiload_crash_handler.id
/f_win_game_client_release.id
/build_manifest.id
/loginData.json
/.LooseFiles.txt
/user.cfg
/*.log
/*.lnk
/*.pyc
/Bin64
/EasyAntiCheat
/Tools
/USER
/screenshots
/logs
/logbackups
/DebugLogs
/__pycache__
/*.exe
/profiles.json
/launcherData.json
**/.DS_Store
