/Data.p4k
/client.crt
/c_hiload_crash_handler.id
/f_win_game_client_release.id
/build_manifest.id
/loginData.json
/.LooseFiles.txt
/user.cfg
/*.log
/*.pyc
/Bin64
/Tools
/USER
/screenshots
/logbackups
/DebugLogs
/__pycache__